In [1]:
import re

In [2]:
import spacy

In [3]:
text="Elon musk,s phone number is 9999119010, call him if you have any questions on dodgecoin Tesla,s revenue is 40 billion (999)-789-0987"
pattern ='\(\d{3}\)-\d{3}-\d{4}|\d{10}'
matches=re.findall(pattern,text)
matches

<>:2: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\('
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\153536535.py:2: SyntaxWarning: invalid escape sequence '\('
  pattern ='\(\d{3}\)-\d{3}-\d{4}|\d{10}'

['9999119010', '(999)-789-0987']

In [4]:
text=text = '''
Note 1 - Overview
Tesla, Inc. (‚ÄúTesla‚Äù, the ‚ÄúCompany‚Äù, ‚Äúwe‚Äù, ‚Äúus‚Äù or ‚Äúour‚Äù) was incorporated in the State of Delaware on July 1, 2003. We design, develop, manufacture and sell high-performance fully electric vehicles and design, manufacture, install and sell solar energy generation and energy storage
products. Our Chief Executive Officer, as the chief operating decision maker (‚ÄúCODM‚Äù), organizes our company, manages resource allocations and measures performance among two operating and reportable segments: (i) automotive and (ii) energy generation and storage.
Beginning in the first quarter of 2021, there has been a trend in many parts of the world of increasing availability and administration of vaccines
against COVID-19, as well as an easing of restrictions on social, business, travel and government activities and functions. On the other hand, infection
rates and regulations continue to fluctuate in various regions and there are ongoing global impacts resulting from the pandemic, including challenges
and increases in costs for logistics and supply chains, such as increased port congestion, intermittent supplier delays and a shortfall of semiconductor
supply. We have also previously been affected by temporary manufacturing closures, employment and compensation adjustments and impediments to
administrative activities supporting our product deliveries and deployments.
Note 2 - Summary of Significant Accounting Policies
Unaudited Interim Financial Statements
The consolidated balance sheet as of September 30, 2021, the consolidated statements of operations, the consolidated statements of
comprehensive income, the consolidated statements of redeemable noncontrolling interests and equity for the three and nine months ended September
30, 2021 and 2020 and the consolidated statements of cash flows for the nine months ended September 30, 2021 and 2020, as well as other information
disclosed in the accompanying notes, are unaudited. The consolidated balance sheet as of December 31, 2020 was derived from the audited
consolidated financial statements as of that date. The interim consolidated financial statements and the accompanying notes should be read in
conjunction with the annual consolidated financial statements and the accompanying notes contained in our Annual Report on Form 10-K for the year
ended December 31, 2020.
'''
pattern ='Note \d - ([^\n]*)'
match=re.findall(pattern,text)
match

<>:21: SyntaxWarning: invalid escape sequence '\d'
<>:21: SyntaxWarning: invalid escape sequence '\d'
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\412426344.py:21: SyntaxWarning: invalid escape sequence '\d'
  pattern ='Note \d - ([^\n]*)'

['Overview', 'Summary of Significant Accounting Policies']

In [5]:
text= '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
In previous quarter i.e. FY2020 Q4 it was $3 billion. 
'''
pattern = 'FY\d{4} Q[1-4]'
match = re.findall(pattern,text)
match

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\177287317.py:5: SyntaxWarning: invalid escape sequence '\d'
  pattern = 'FY\d{4} Q[1-4]'

['FY2021 Q1', 'FY2020 Q4']

In [6]:
text= '''
The gross cost of operating lease vehicles in fy2021 Q1 was $4.85 billion.
In previous quarter i.e. FY2020 Q4 it was $3 billion. 
'''
pattern = 'FY\d{4} Q[1-4]'
match = re.findall(pattern,text,flags = re.IGNORECASE)
match

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\1269324202.py:5: SyntaxWarning: invalid escape sequence '\d'
  pattern = 'FY\d{4} Q[1-4]'

['fy2021 Q1', 'FY2020 Q4']

In [7]:
text= '''
The gross cost of operating lease vehicles in fy2021 Q1 was $4.85 billion.
In previous quarter i.e. FY2020 Q4 it was $3 billion. 
'''
pattern = 'FY(\d{4} Q[1-4])'
match = re.findall(pattern,text,flags = re.IGNORECASE)
match

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\271109037.py:5: SyntaxWarning: invalid escape sequence '\d'
  pattern = 'FY(\d{4} Q[1-4])'

['2021 Q1', '2020 Q4']

In [9]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.Tesla employee count is 5500.
In previous quarter i.e. FY2020 Q4 it was $3 billion. 
'''
pattern = '\$([\d\.]+)'
re.findall(pattern,text,flags = re.IGNORECASE)

<>:5: SyntaxWarning: invalid escape sequence '\$'
<>:5: SyntaxWarning: invalid escape sequence '\$'
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\3447205555.py:5: SyntaxWarning: invalid escape sequence '\$'
  pattern = '\$([\d\.]+)'

['4.85', '3']

In [11]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.Tesla employee count is 5500.
In previous quarter i.e. FY2020 Q4 it was $3 billion. 
'''
pattern = 'FY(\d{4} Q[1-4])[^\$]+\$([\d\.]+)'
match=re.findall(pattern,text,flags = re.IGNORECASE)
match

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\4079582225.py:5: SyntaxWarning: invalid escape sequence '\d'
  pattern = 'FY(\d{4} Q[1-4])[^\$]+\$([\d\.]+)'

[('2021 Q1', '4.85'), ('2020 Q4', '3')]

In [16]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''
pattern = '(https:\/\/twitter.com\/[a-zA-Z0-9_]+)' # todo: type your regex here

re.findall(pattern, text)

<>:9: SyntaxWarning: invalid escape sequence '\/'
<>:9: SyntaxWarning: invalid escape sequence '\/'
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\2170453642.py:9: SyntaxWarning: invalid escape sequence '\/'
  pattern = '(https:\/\/twitter.com\/[a-zA-Z0-9_]+)' # todo: type your regex here

['https://twitter.com/elonmusk',
 'https://twitter.com/teslarati',
 'https://twitter.com/dummy_tesla',
 'https://twitter.com/dummy_2_tesla']

In [17]:
text = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''
pattern = 'Concentration of Risk: ([^\n]*)'

re.findall(pattern, text)

['Credit Risk', 'Supply Risk']

In [18]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''

pattern = 'FY(\d{4} (?:Q[1-4]|S[1-2]))'
matches = re.findall(pattern, text)
matches

<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\1913581475.py:6: SyntaxWarning: invalid escape sequence '\d'
  pattern = 'FY(\d{4} (?:Q[1-4]|S[1-2]))'

['2021 Q1', '2021 S1']

In [19]:
def pattern_match(pattern,text):
    match=re.findall(pattern,text)
    if match:
        return match[0]

In [21]:
pattern_match('FY(\d{4} (?:Q[1-4]|S[1-2]))',text)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\2154921619.py:1: SyntaxWarning: invalid escape sequence '\d'
  pattern_match('FY(\d{4} (?:Q[1-4]|S[1-2]))',text)

'2021 Q1'

In [22]:
chat1 = 'codebasics: you ask lot of questions üò†  1235678912, abc@xyz.com'
chat2 = 'codebasics: here it is: (123)-567-8912, abc@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

In [24]:
pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat1)

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\983663884.py:1: SyntaxWarning: invalid escape sequence '\.'
  pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat1)

'abc@xyz.com'

In [25]:
pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat2)

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\1553884016.py:1: SyntaxWarning: invalid escape sequence '\.'
  pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat2)

'abc@xyz.com'

In [27]:
pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat3)

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\1058856064.py:1: SyntaxWarning: invalid escape sequence '\.'
  pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat3)

'abc@xyz.com'

In [28]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971‚Äìpresent)
Canada (1971‚Äìpresent)
United States (2002‚Äìpresent)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
‚Äã
‚Äã(m. 2000; div. 2008)‚Äã
Talulah Riley
‚Äã
‚Äã(m. 2010; div. 2012)‚Äã
‚Äã
‚Äã(m. 2013; div. 2016)
'''

In [35]:
def extract_personal_information(text):
    age = pattern_match("age (\d+)", text)
    full_name = pattern_match('Born(.*)\n', text)
    birth_date = pattern_match('Born.*\n(.*)\(age', text)
    birth_place = pattern_match('\(age.*\n(.*)', text)
    return {
        'age': int(age),
        'name': full_name.strip(),
        'birth_date': birth_date.strip(),
        'birth_place': birth_place.strip()
    }

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\('
<>:5: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\('
<>:5: SyntaxWarning: invalid escape sequence '\('
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\182989049.py:2: SyntaxWarning: invalid escape sequence '\d'
  age = pattern_match("age (\d+)", text)
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\182989049.py:4: SyntaxWarning: invalid escape sequence '\('
  birth_date = pattern_match('Born.*\n(.*)\(age', text)
C:\Users\meena\AppData\Local\Temp\ipykernel_24472\182989049.py:5: SyntaxWarning: invalid escape sequence '\('
  birth_place = pattern_match('\(age.*\n(.*)', text)

In [34]:

extract_personal_information(text)

{'age': 50,
 'name': 'Elon Reeve Musk',
 'birth_date': 'June 28, 1971',
 'birth_place': 'Pretoria, Transvaal, South Africa'}

In [37]:
text = '''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani ‚Äã(m. 1985)‚Äã[3]
Children	3
Parent(s)	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [38]:
extract_personal_information(text)

{'age': 64,
 'name': 'Mukesh Dhirubhai Ambani',
 'birth_date': '19 April 1957',
 'birth_place': 'Aden, Colony of Aden'}